.extracted-style-0 { display: none; }
.extracted-style-1 { text-align:center; margin-top:20px; }
.extracted-style-2 { padding: 10px; font-size: 18px; border: 1px solid #ccc; border-radius: 5px; }
.extracted-style-3 { padding: 10px 15px; font-size: 18px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; }
.extracted-style-4 { font-variation-settings:normal }
.extracted-style-5 { font-variation-settings:normal }
.extracted-style-6 { font-variation-settings:normal }
.extracted-style-7 { font-variation-settings:normal }
.extracted-style-8 { font-variation-settings:normal }
.extracted-style-9 { font-variation-settings:normal }
.extracted-style-10 { font-variation-settings:normal }
.extracted-style-11 { font-variation-settings:normal }
.extracted-style-12 { font-variation-settings:normal }
.extracted-style-13 { display:inline }
.extracted-style-14 { display:inline;opacity:1 }
.extracted-style-15 { font-variation-settings:normal }
.extracted-style-16 { font-variation-settings:normal }
.extracted-style-17 { font-variation-settings:normal }
