<header class="header">
    <nav class="nav">
      <div class="logo">
        <a href="/" accesskey="h" title="U-PAC (Alt + H)">U-PAC</a>
      </div>
      <!-- Hamburger menu button for mobile -->
      <button class="menu-toggle" aria-label="Toggle Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul id="menu" class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/candidates/">Candidates</a></li>
        <li><a href="/volunteer/">Volunteer</a></li>
        <li><a href="/donate/">Support This Work</a></li>
      </ul>
    </nav>
  </header>
  